body{
    text-align: center;
}
#app_lab{
background-color:rgb(14, 105, 184);
}
#myCarousel{
    background-color:red ;
}
#myCarousel img{
height:300px ;
margin-top:35px ;
}
.carousel-inner p{
    margin-top:15px ;
    color: orange;
    font-size:20px ;
}
#Astronauts{
    color:yellow ;
}
#Navecitas{
    color: aqua;
}
#Relax{
    color: yellowgreen;
}
#ChatBot{
    background-color: pink;
    color:plum ;
}